/** Zoe Zapata 
	ISTE240 
	Fall 2211
	CSS for ny.html
	**/

/** make it cute **/
h1 {
	color: #D84C3E;
}

#content{
 letter-spacing: .5px;
 line-height: 25px;
}

h2 {
color: #E39399;
}

/** edit photos and placement **/
#photo{
color: white;
background-color: #E39399;
padding: 20px;
right: 0;
left: 0;
}

#mom {
margin-top: 1em;
}

#hernandez {
margin-bottom: 1em;
}